<% title "Categorias" %>

<h1> Lista de categorias </h1>
<ul id="cat_list">
  <% @categorias.each do |c| %>
  <li><%= link_to c.titulo, :action => 'show', :id => c.id %>
  <%= "(#{c.productos.count})" -%>
  </li>
  <% end %>
</ul>

<p><%= link_to "New Categoria", new_categoria_path %></p>
